body{
    background-color: rgb(218, 212, 205);
}
h1,h5{
    font-family :'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(230, 161, 71);
}
p,li{
    font-family :system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
li{
    color: rgb(183, 39, 58);
}


