body{
    background-color: rgb(191, 224, 204);
margin:0;
padding:0;
display: flex;
flex-direction:column;

}
#title{
    
    color:rgb(168, 100, 232);
    
}
#introduction,#closing {
    background-color: rgb(170, 239, 216);
    padding:1.5%;
    border-radius: 2%;
    margin:0.2%;
}
#closing p{
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-size: 13px;
 font-style: italic;
 font-weight: 700;
}
footer{
    text-align:center;
    margin: auto;
    
}
#recipes_list{
    background-color: rgb(170, 239, 216);
    padding:9.5%;
    border-radius: 2%;
    margin:0.2%;
    
}
footer p{
    scroll-timeline-axis: vertical;
}